{%extends "admin/admin_layout.html" %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div style="display: flex; justify-content: space-between;">
            <h5 class="card-title fw-semibold mb-4">Products</h5>
            <a href="{{url_for('admin_add_product')}}" class="btn btn-primary m-1">Add Product</a>
          </div><br/>          
          <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Product Name</th>
                          <th>Product Category</th>
                          <th>Product Description</th>
                          <th>Product Thumbnail</th>
                          <th>Product Price</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in products %}
                          <tr>
                            <td>{{loop.index}}</td>
                            <td>{{product.name}}</td>
                            <td>{{ getCategoryNameById([product.category_id]) }}</td>
                            <td>{{product.description}}</td>
                            <td><img src="/static/uploads/{{product.thumbnail}}" style="width:100px;height:100px;"></td>
                            <td>&#8377; {{product.price}}</td>
                            <td>
                              <a href="/admin/editProduct/{{product.id}}" class="btn btn-secondary m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                <path d="M16 5l3 3"></path>
                                </svg>
                              </a>
                              <a href="/admin/deleteProduct/{{product.id}}" class="btn btn-warning m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M4 7l16 0"></path>
                                  <path d="M10 11l0 6"></path>
                                  <path d="M14 11l0 6"></path>
                                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                               </svg>
                              </a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}