{%extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %} 
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p>
            Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet.
        </p>
        <div class="contact-info">
            <h3>Contact Information</h3>
            <p><strong>Email:</strong> contact@example.com</p>
            <p><strong>Phone:</strong> +1 (555) 123-4567</p>
            <p><strong>Address:</strong>  123 Consectetur at ligula 10660, City, Country</p>
        </div>
    </div>
</div>
<!-- End Contact -->

{% endblock %}